* {
    font-family: Arial, Helvetica, sans-serif
}

.headerbg {
    background-color: #FFEF9B;
    background-image: linear-gradient(#FFEF9B,#FFFFFF)

}
.container {
    background-color: white
}

.mainbg {
    background-color: rgb(206, 182, 131)
}

.barcolor {
    background-color: black
}

.btn { 
background-color: #9c5207

}

.divBg {
    background-color: black
}

.imgbg {
background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRg2jH5Eib3KQiZLEMmMbFsKsBUT6U66LXl0RG-vU4fn3AEh_ye4g")

}